<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gdw-decryptsystemfield" xsi:type="object">GDW\DecryptSystemField\Console\Command\DecryptField</item>
                <item name="gdw-decryptvalue" xsi:type="object">GDW\DecryptSystemField\Console\Command\DecryptValue</item>
            </argument>
        </arguments>
    </type>
</config>